.job-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 50px;
}

.job-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 460px;
  height: 340px;
  border-radius: 10px;
  background-color: #eee;
}



.img-container {
  margin-bottom: 3rem;
}

.img {
  border-radius: 15px;
  margin: 0 auto;
  width: 150px;
  height: 100px;
}

.job-desc {
  max-height: 500px;
  p {
    max-height: 100%;
    text-align: center;
  }
  a {
    text-align: center;
  }
}
@media (max-width: 960px) {
  .job-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .job-container {
    width: 400px;
  }
}